h1, h2 {
    font-family: Lato;
  }
  
  h1 {
    text-align: center;
    padding: 2% 0%;
  }
  
  /* * { box-sizing: border-box; } */
  body {
    font: 16px Lato;
    background-color: lightgray;
  }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
  #chili-names {
      width:90%;
      font-size:15px;
      word-break:break-all;
      column-count: 2;
  }
  
  
  #solution {
      color: green;
      background-color: lightgrey;
  }
  
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5% 0% 10% 0%;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .display1, .display2 {
    border-style: solid;
    border-color: grey;
    display: inline-block;
    min-width: 30vh;
    min-height: 30vh;
    border-radius: 5px;
    margin-left: 10vh;
  }
  
  .display1 {
    margin-left: 10vh;
  }
  
  .display2 {
    vertical-align: top;
  }
  
  #app {
    margin: 0vh 10vh;
    background-color: white;
    border-radius: 5px;
    /* padding-bottom: 50vh; */
  }
  
  .form {
    padding: 2vh;
  }
  