h1, h2 {
    font-family: Lato;
  }
  
  h1 {
    text-align: center;
    padding: 2% 0%;
    font-size: 8vh;
  }
  
  /* * { box-sizing: border-box; } */
  body {
    font: 16px Lato;
    background-color: lightgray;
  }

  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }

  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }

  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
  #chili-names {
      font-size:20px;
      word-break:break-all;
  }

  #solution {
      color: green;
      background-color: lightgrey;
      margin: auto;
      margin-top: 5vh;
      width: 100%;
      /* border: 3px solid grey; */
      padding: 10px 0px;
      text-align: center;
      font-size: 5vh;
  }
  
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 5% 0% 2% 0%;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 97%;
  }

  #app {
    margin: 0vh 10vh;
    background-color: white;
    border-radius: 5px;
  }
  
  .display1, .display2 {
    border-style: solid;
    border-color: grey;
    display: inline-block;
    border-radius: 5px;
  }

  .display2 {
    vertical-align: top;
    text-align: left;
  }

  @media only screen and (max-width: 1260px) {
    h1 {
      font-size: 6vh;
    }
    
    #chili-names {
      column-count: 3;
    }
  
    .display1, .display2 {
      min-width: 40vh;
      min-height: 40vh;
      font-size: large;
    }

    .center {
      margin: auto;
      width: 90%;
      border: 3px solid grey;
      padding: 10px;
      text-align: center;
    }
    
    .form {
      padding: 2vh;
    }

    .content {
      width: 96%;
    }

    #solution {
      font-size: 4vh;
    }
  } 

@media only screen and (max-width: 1060px) {
  h1 {
    font-size: 4vh;
  }

  #chili-names {
    column-count: 2;
  }

  .display1, .display2 {
    min-width: 50vh;
    min-height: 50vh;
  }

  .content {
    width: 90%;
  }

  #solution {
    font-size: 3vh;
  }
}

@media only screen and (max-width: 770px) {
  h1 {
    font-size: 3vh;
    padding: 1% 0%;
  }

  #chili-names {
    column-count: 1;
  }

  .display1 {
    min-width: 40vh;
    min-height: 40vh;
    margin-bottom: 2vh;
  }

  .display2 {
    min-width: 40vh;
    min-height: 15vh;
  }

  #ChiliInput {
    width: 20vh;
  }

  .form {
    padding: 1vh;
  }

  #app {
    margin: 0vh  0vh;
    background-color: white;
    border-radius: 5px;
  }

  #solution {
    font-size: 2vh;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1261px) {
  .center {
    margin: auto;
    width: 90%;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
  }
  
  #chili-names {
    column-count: 4;
  }

  .display1, .display2 {
    min-width: 50vh;
    min-height: 50vh;
  }
  
  .form {
    padding: 2vh;
    font-size: large;
    margin: 2vh;
  }
}